@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('global/SEGA.woff') format('woff');
}

.robofriends-logo {
    font-family: "SEGA LOGO FONT";
    font-weight: 200;
    color: #0ccac4;
}
