body {
    background-color: #faf2da;
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
    color: #4a503d;
}

nav {
    background-color: #8e9775;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    margin-top: 90px;
}

h1 {
    font-family: Georgia, serif;
}

hr {
    border-top: 5px solid #e28f83;
}
