.grid-container1 {
    display: grid;
    grid-template-columns: 100px auto 200px;
    background-color: #D9D9DB;
}

.grid-container1-item {
    background-color: #F9DFB5;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.item1 {
    grid-area: side;
}

.item2 {
    grid-area: top;
}

.item3 {
    grid-area: bottom;
}

.grid-container3 {
    display: grid;
    grid-template-areas:
            'top top side'
            'bottom bottom side';
    grid-gap: 10px;
    background-color: #2196f3;
    padding: 10px;
}
